body {
  font-family: Arial, sans-serif;
  background-color: #332c86;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.game-container {
  text-align: center;
}

#rollButton {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}

img {
  width: 100px;
  height: 100px;
  margin: 0 10px;
}

#result, #rollCount {
  margin-top: 20px;
  font-size: 18px;
}
